MONGODB_URI=mongodb+srv://abdelrahman24sh_db_user:yZTES4afrvNOeBjv@cluster0.wp4xbnv.mongodb.net/?appName=Cluster0
JWT_SECRET=shsyehdhfhrhfrybvryslksopkfdsnkijiddbyvxbeyljfmjinhamelcj
ADMIN_SECRET_KEY=AboGad12004@
